.nav {
    display: flex;
    gap: 20px;
    padding: 24px 40px;
}

.tabButton {
    background: none;
    border: none;
    color: #757575;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.active {
    color: red;
    font-weight: bold;
    border-bottom: 2px solid red;
}
